.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border:  6px solid #ab5050;
    font-size:35px;
    height: 65px;
    width: 407px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #a54721;
    width: 90px;
    height: 60px;
    margin: 6px;
    color: white;
}

.calculator{ 
    border: 6px solid #ab5050;
    background-color:black;
    padding: 23px;
    border-radius: 31px;
    display: inline-block;
    
}

h1{
    font-size:  35px;
}